a {
	text-decoration: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
	text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	text-transform: none;
}
::placeholder { /* Recent browsers */
	text-transform: none;
}

/* Chrome, Safari, Edge, Opera */
.hide-arrows input::-webkit-outer-spin-button,
.hide-arrows input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.hide-arrows input[type=number] {
  -moz-appearance: textfield;
	appearance: textfield;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.1s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.slide-enter-active {
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-moz-transition-timing-function: ease-in;
	-webkit-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
}
 
.slide-leave-active {
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	-o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
 
.slide-enter-to, .slide-leave {
	max-height: 600px;
	overflow: hidden;
}
 
.slide-enter, .slide-leave-to {
	overflow: hidden;
	max-height: 0;
}

.add-relation-item {
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.add-relation-item:last-child {
    border-bottom: none;
}

.add-relation-item > .q-item__section {
	padding-left: 32px;
}

.after-options-slot .q-item {
  border-top: 1px solid rgba(0,0,0,0.1)
}

.q-banner {
	border: 1px solid rgba(0,0,0,0.1)
}
/*
.q-table th {
	font-size: 13px;
}

.q-table--dense .q-table th {
	font-size: 12px;
}

.q-table tbody td {
  font-size: 14px;
}

.q-table--dense .q-table tbody td {
	font-size: 13px;
}
*/

.q-table tbody td, .q-table thead tr {
	height: 40px;
}

.q-table tbody td.dense {
  padding: 7px;
}

.q-table tbody td.operations {
	padding-left: 6px;
  padding-right: 10px;
}

.q-table thead th.operations,
.q-table tbody td.operations {
	background-color: #ffffff;
	position: sticky;
	right: -1px;
	z-index: 1;
}

.custom-dropdown-menu {
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,.2), 0 2px 1px 1px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
}

.custom-dropdown-menu .q-item {
	min-height: 40px;
	padding: 6px 12px;
	font-size: 13px;
}

.custom-dropdown-menu .q-item--dense, .q-list--dense>.q-item {
	min-height: 32px;
	padding: 2px 10px;
}

.custom-dropdown-menu .q-item__section--avatar {
	min-width: 30px;
}


.custom-dropdown-menu .q-item__section--side {
	padding-right: 10px;
}

.custom-dropdown-menu .q-item__section--side:last-child {
	padding-right: 0px;
}

.custom-dropdown-menu .q-item__section--side>.q-icon {
	font-size: 20px;
}

div.q-card__section.border-bottom {
	border-bottom: 1px solid rgba(0,0,0,.12);
}

.q-editor__content ol,
.q-editor__content ul {
	margin: 2px 0;
	padding-left: 24px;
}