body {
  font-family: 'Open Sans',-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;
}

@media (max-width: 599.98px) {
  .q-layout-padding {
    padding: 6px
  }

  .q-table__top {
    padding: 6px 8px;
  }
}

@media (min-width: 600px) and (max-width:1439.98px) {
  .q-layout-padding {
    padding: 12px
  }
}

@media (min-width: 1440px) {
  .q-layout-padding {
    padding: 12px
  }
}

.text-h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 4rem;
  letter-spacing: -0.01562em;
}
.text-h2 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.65rem;
  letter-spacing: -0.00833em;
}
.text-h3 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: normal;
}
.text-h4 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.65rem;
  letter-spacing: 0.00735em;
}
.text-h5 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.45rem;
  letter-spacing: normal;
}
.text-h6 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.35rem;
  letter-spacing: 0.0125em;
}

.text-bold {
  font-weight: 600;
}

.q-dialog__inner--minimized {
  padding: 12px;
}

.q-tab-panels {
  background: transparent;
}

.q-field__control .q-chip {
  margin-left: 0;
  margin-bottom: 0;
  font-size: 13px;
}

.q-item__section--avatar {
  min-width: 40px;
}

.q-select__dialog > label.q-field--with-bottom {
  padding-bottom: 0;
}

.q-table td, .q-table th {
  padding: 7px 12px;
}

.q-table th {
  font-weight: 600;
}
